{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center"
                 style="word-break: break-word;">{% trans "User Data Integration" %}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card border-primary mb-3">
                    <div class="card-header text-center text-primary">
                        <span class="h5">{% trans "Execode Input" %}</span>
                    </div>
                    <div class="card-body">
                        {% url "page.doc.botcmd.cmd" code=cmd_code as cmd_url %}
                        {% blocktrans trimmed %}
                            <p>
                                Input the Execode acquired for user data integration below.<br>
                                <br>
                                Enter <a href="{{ cmd_url }}">this command (<code>{{ cmd_usage }}</code>)</a> using
                                private channel to the bot to get an Execode.<br>
                                <br>
                                Account related data such as locale configuration on the account where you get the
                                Execode
                                will be discarded, only the data on the website will be kept.<br>
                                <br>
                                <small>
                                    An account holds only <strong>ONE</strong> website account, but
                                    <strong>INFINITELY MANY</strong> platform account. (LINE, Discord...etc.)
                                </small><br>
                                <br>
                                <small>
                                    If you have an account already linked to a website account, and you get the Execode
                                    from this account, the original website account will be disconnected.<br>
                                    ID of the original website account will be regenerated upon login.
                                </small>
                            </p>
                        {% endblocktrans %}
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="{% trans "Integration Execode here" %}"
                                   aria-label="{% trans "Integration Execode" %}" id="execode">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-primary" id="execodeSubmit">
                                    {% trans "Submit" %}
                                </button>
                            </div>
                        </div>
                        <div class="d-none text-primary submit-msg mt-3"
                             id="submitMsgNoExecode">{% trans "Provide an Execode to complete user data integration." %}</div>
                        <div class="d-none text-success submit-msg mt-3"
                             id="submitMsgOK">{% trans "User data integration succeed." %}</div>
                        <div class="d-none text-danger submit-msg mt-3"
                             id="submitMsgFailed">{% trans "User data integration failed." %}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}

{% block ex-script %}
    <!--suppress JSDuplicatedDeclaration -->
    <script type="text/javascript">
        function sendExecodeAjax(execode, failedCallBack, okCallBack, completeCallback) {
            $.ajax(
                "{% url "api.execode.complete" %}",
                {
                    method: "POST",
                    complete: completeCallback,
                    data: {
                        "{{ static_keys_param.Execode.EXECODE }}": execode,
                        "{{ static_keys_param.Execode.USER_OID }}": "{{ root_oid }}",
                        "{{ static_keys_param.Execode.ACTION_TYPE_ID }}": "{{ excde_type_code }}",
                        "{{ static_keys_param.LOCAL_REFER }}": true
                    },
                    error(jqXHR, textStatus, errorThrown) {
                        console.log(`Send Execode Ajax failed. (${textStatus})`);
                        console.log(errorThrown);
                        failedCallBack();
                    },
                    success(data) {
                        if (data.success) {
                            okCallBack(data);
                        } else {
                            failedCallBack(data);
                        }
                    }
                }
            );
        }
    </script>
    <script type="text/javascript" src="{% static "js/account/integrate.js" %}"></script>
{% endblock %}