{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="glyphicon glyphicon-remove-circle alert alert-danger d-none" role="alert" id="msg">
                    <span class="sr-only">(Alert)</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="jumbotron">
                <p class="display-4">
                    {% blocktrans trimmed %}
                        To use the features on the website, we will collect some data from
                        your Google Account.
                    {% endblocktrans %}
                </p>
                <h4>{% trans "The data we will collect are:" %}</h4>
                <ul>
                    <li>{% trans "Your email" %}</li>
                    <li>{% trans "Your unique user id for our API client" %}</li>
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            {% trans "Clicking the button below to login, which also means that you agree the things above." %}
                        </p>
                    </div>
                    <div class="col-md-12">
                        <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-theme="dark"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-right">
            {% trans "The identity collection technique used is based on Google Sign-In for Websites." %}
            (<a href="https://developers.google.com/identity/sign-in/web/backend-auth">{% trans "Link" %}</a>)
        </p>
    </div>
{% endblock %}

{% block ex-meta %}
    <meta name="google-signin-client_id"
          content="431200420774-7afo4f29me83citervt7tpkpbq8736ka.apps.googleusercontent.com">
{% endblock %}

{% block ex-script %}
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" type="text/javascript" async
            defer></script>
    <script src="{% static "js/login.js" %}" type="text/javascript"></script>
    <script type="text/javascript" async>
        // noinspection JSUnusedLocalSymbols,JSUnusedGlobalSymbols
        function onSignIn(googleUser) {
            onSignInHandle(googleUser, "{% url "page.home" %}");
        }
    </script>
{% endblock %}
