{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Account Info" %}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-primary mb-3 text-primary text-center align-middle">
                    <h5 class="card-header">{% trans "Basic Information" %}</h5>
                    <div class="card-body">
                        <table class="table text-primary">
                            <tbody>
                            <tr>
                                <th scope="row">{% trans "Google Account" %}</th>
                                <td>{{ api_user_data.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="align-middle">{% trans "API Key" %}</th>
                                <td>
                                    <div class="card-text text-center">
                                        <button class="btn btn-outline-primary" type="button" class="btn btn-primary"
                                                data-toggle="modal"
                                                data-target="#apiKey">
                                            {% trans "Click to display" %}
                                        </button>
                                    </div>
                                    <div class="modal fade" id="apiKey" tabindex="-1" role="dialog"
                                         aria-labelledby="apiKeyTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="apiKeyTitle">{% trans "API Key" %}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h4><code>{{ api_user_data.token }}</code></h4>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">{% trans "Close" %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card border-info">
                    <h5 class="card-header text-center text-info">{% trans "Pending Token Actions" %}</h5>
                    <div class="card-body">
                        {% include "components/tkact.html" with tkact_list=tkact_list only %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark mb-3 text-center">
                    <h5 class="card-header">{% trans "Channel Controls" %}</h5>
                    <div class="card-body">
                        <h3 class="card-text">
                            <a class="btn btn-outline-dark" role="button" href="{% url "account.channel.connect" %}">
                                {% trans "Connect" %}
                            </a>
                            <a class="btn btn-outline-dark" role="button" href="{% url "account.channel.list" %}">
                                {% trans "Manage" %}
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="card border-danger text-center text-danger">
                    <h5 class="card-header">{% trans "Account Controls" %}</h5>
                    <div class="card-body">
                        <h3 class="card-text">
                            <a class="btn btn-outline-danger" role="button" href="{% url "account.settings" %}">
                                {% trans "Settings" %}
                            </a>
                            <a class="btn btn-outline-danger" role="button" href="{% url "account.logout" %}">
                                {% trans "Logout" %}
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}