{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Error" %}</div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center text-danger">
            <div class="col-lg display-4">
                {% trans "Extra Content Not Found" %}
            </div>
            <div class="col-lg align-self-center">
                {% trans "Extra content corresponds to the provided id not found." %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                {% url "account.channel.list" as channel_list %}
                {% url "page.about" as about_page %}
                {% blocktrans trimmed %}
                    No content recorded under ID: {{ page_id }}. The ID might be wrong or expired.
                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endblock %}