{% load i18n %}

<div class="row">
    <div class="col mb-3">
        <span class="h3">{% trans "Basic Information" %}</span>
    </div>
</div>

<div class="row">
    <div class="col-lg mb-3">
        <div class="card border-primary text-center">
            <h4 class="card-header text-primary">{% trans "Channel Name" %}</h4>
            <div class="card-body">
                <div class="card-text h2">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-auto {% if not channel_data.bot_accessible %}text-danger{% endif %}">
                            {% if channel_name %}
                                {{ channel_name }}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg mb-3">
        <div class="card border-primary text-center">
            <h4 class="card-header text-primary">{% trans "Channel ID" %}</h4>
            <div class="card-body">
                <div class="card-text h2">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-auto">
                            <code>{{ channel_data.id }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg mb-3">
        <div class="card border-primary text-center">
            <h4 class="card-header text-primary">{% trans "Channel Token" %}</h4>
            <div class="card-body">
                <div class="card-text h2">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-auto">
                            <code>{{ channel_data.token }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg mb-3">
        <div class="card border-primary text-center">
            <h4 class="card-header text-primary">{% trans "Platform" %}</h4>
            <div class="card-body">
                <div class="card-text h4">
                    <div class="row justify-content-lg-center">
                        <div class="col-lg-auto">
                            {{ channel_data.platform.key }}
                        </div>
                    </div>
                </div>
                {% if chcoll_data %}
                    <a class="mt-3 btn btn-outline-primary btn-lg btn-block"
                       href="{% url "info.chcoll" chcoll_oid=chcoll_data.id %}" target="_blank">
                        {% trans "Channel Collection ID: " %}<code class="text-dark">{{ chcoll_data.id }}</code>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg mb-3">
        <div class="card border-primary text-center">
            <h4 class="card-header text-primary">{% trans "Controls" context "Channel Controls" %}</h4>
            <div class="card-body">
                <div class="card-text h5">
                    {% if manageable %}
                        <div class="col-lg-auto">
                            <a class="btn btn-outline-primary"
                               href="{% url "account.channel.manage" channel_oid=channel_data.id %}">
                                {% trans "Manage" %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>