{% load i18n %}

<canvas id="msgstats-daily"></canvas>

<script type="text/javascript">
    new Chart(document.getElementById("msgstats-daily").getContext("2d"), {
        type: "line",

        data: {
            labels: {{ msg_daily_data.date_label|safe }},
            datasets: [{
                label: "{% trans "Message Count" %}",
                borderColor: "rgb(50, 50, 50)",
                pointBackgroundColor: "rgb(50, 50, 50)",
                pointBorderColor: "rgb(50, 50, 50)",
                pointRadius: 5,
                pointHoverRadius: 10,
                fill: false,
                data: {{ msg_daily_data.date_count }}
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            elements: {
                line: {
                    tension: 0 // disables bezier curves
                }
            }
        }
    });
</script>