{% load i18n %}

<div class="table-responsive table-freeze-header table-freeze-first-col" style="max-height: 35rem">
    <table class="table table-hover table-bordered table-bordered mb-0 datatable datatable-presort no-line-break"
           data-sortidx="1" data-sortorder="desc">
        <thead>
        <tr>
            <th scope="col" class="align-middle text-center">{% trans "Member Name" %}</th>
            <th scope="col" class="align-middle text-center">{% trans "Total Count" %}</th>
            <th scope="col" class="align-middle text-center htmlnumfmt">{% trans "Avg +/-" %}</th>
            <th scope="col" class="align-middle text-center htmlnumfmt">{% trans "Avg +/- %" %}</th>
            <th scope="col" class="align-middle text-center htmlnumfmt">{% trans "Avg +/- NRM" %}</th>
            {% for range_name in message_data.time_ranges %}
                <th scope="col" class="align-middle text-center">{{ range_name }}</th>
                <th scope="col" class="align-middle text-center htmlnumfmt">+/-</th>
                <th scope="col" class="align-middle text-center htmlnumfmt">+/- (%)</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for entry in message_data.data %}
            <tr>
                <th class="align-middle text-center">{{ entry.user_name }}</th>
                <td class="align-middle text-center h4"><code>{{ entry.total }}</code></td>
                <td class="align-middle text-center h5 font-weight-normal">
                    {% include "components/num.html" with num=entry.avg_diff fmt=".1f" only %}
                </td>
                <td class="align-middle text-center h5 font-weight-normal">
                    {% include "components/num.html" with num=entry.avg_diff_pct fmt=".2f" suffix="%" only %}
                </td>
                <td class="align-middle text-center h5 font-weight-normal">
                    {% include "components/num.html" with num=entry.avg_diff_nrm fmt=".2f" only %}
                </td>
                {% for count, diff, diff_pct in entry.count_data %}
                    <td class="align-middle text-center h5 font-weight-normal">{{ count }}</td>
                    <td class="align-middle text-center h5 font-weight-normal">
                        {% include "components/num.html" with num=diff fmt="s" only %}
                    </td>
                    <td class="align-middle text-center h5 font-weight-normal">
                        {% include "components/num.html" with num=diff_pct fmt=".2f" suffix="%" only %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
