{% load i18n %}

<div class="table-responsive table-freeze-header" style="max-height: 25rem">
    <table class="table table-hover table-bordered table-bordered mb-0">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans "User Name" %}</th>
            <th scope="col">{% trans "Message Count" %}</th>
            <th scope="col">{% trans "Count %" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in message_stats %}
            <tr>
                <td class="align-middle text-center">{{ forloop.counter }}</td>
                <td class="align-middle text-center">{{ entry.user_name }}</td>
                <td class="align-middle text-center h5 font-weight-normal">{{ entry.message_count }}</td>
                <td class="align-middle text-center">
                    <code class="h6">
                        {{ entry.percent_str }}
                    </code>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
