# Project files
.idea

# Compiled Python files
__pycache__/

# Library files
lib

# Virtual environment
venv

# Development assisting tools
.tools/

# Archived code
archive/
tests_old/

# Application logs
logs/
*.log

# IIS config file
web.config

# Sandbox files
sandbox*.py

# Django files
db.sqlite3

# Test files
.coverage
