# Project files
.idea

# Compiled python
__pycache__/

# Library files
lib

# Virtual Environment
venv

# Archived code
archive/

# Application logs
logs/
*.log

# IIS config file
web.config

# Sandbox files
sandbox*.py

# Django files
db.sqlite3