# Template .pylintrc file https://raw.githubusercontent.com/datawire/quark/master/.pylintrc

[MASTER]

load-plugins=pylint_django

[BASIC]

# Reason of the good names:
# - _
#   often used as dummy variable during unpacking
# - e
#   sometimes used to represent "exception" or "event" in message handling
# - f
#   often used as a file stream name
# - i, j, k
#   often used in for loops
# - v
#   often used to represent "value"
# - dt, tz
#   often used in datetime handling (dt for datetime, tz for timezone)
# - ex
#   often used as the var name of exception caught by try..except
# - fi
#   often used as field instance for MongoDB
# - fk, jk
#   often used to represent MongoDB field key and json key
# - fn
#   often used to represent a function address
# - id
#   just ID

good-names=_,e,f,i,j,k,v,dt,ex,fk,fi,fn,id,jk,tz

include-naming-hint=yes

[DESIGN]

min-public-methods=1

max-parents=15

max-args=5

max-returns=7

[FORMAT]

max-line-length=119

[MESSAGES CONTROL]

disable=broad-except,  # Almost always recording the error and there's a lot of codes catching `Exception`
