## Framework

# Django
Django
django-html_sanitizer
webencodings  # Will be used for escaping characters

# Static file handling
whitenoise

# GraphQL
graphene

# ---------------------

## Bot

# LINE bot
line-bot-sdk

# Discord bot
discord.py

# Google identity
google-api-python-client

# ---------------------

## Data

# MongoDB connection
dnspython

# User name caching - might be removed after #280
cachetools

# ---------------------

## Bot Utils

# Datetime processing
pytz
python-dateutil

# Bot calculator
sympy

# ---------------------

## Miscellaneous

# Github API data
dotmap

# Bot command documentation
markdown2

# Web requests
requests
pymongo

# Recording no user ID handling status
ttldict

# Data processing
numpy

# Message processing
jieba

# Image processing for PK Chess
Pillow
