{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% trans "Auto reply-based web application." %}">
    <meta name="author" content="{% trans "RaenonX" %}">
    {% block ex-meta %}{% endblock %}

    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>{{ title|default:"-" }} | {% trans "Jelly Bot" %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static "css/grid.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">
    {% block ex-style %}{% endblock %}
</head>
<body>
{% block navbar %}
    {% include "components/navbar.html" %}
{% endblock %}

{% block navbread %}
    {% include "components/navbread.html" %}
{% endblock %}

<main role="main">
    {% include "components/alerts.html" %}
    {% block content %}{% endblock %}
</main>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98311727-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag("js", new Date());
    gtag("config", "UA-98311727-3");
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        {% for cls in unlock_classes %}
            $(".{{ cls }}").removeClass("disabled d-none").removeAttr("disabled").removeClass("{{ cls }}");
        {% endfor %}
    });
</script>

{% block ex-script %}{% endblock %}

{% block footer %}
    {% include "base/footer.html" %}
{% endblock %}
</body>
</html>