{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ request.scheme }}://{{ request.get_host }}">
        <img class="mr-2" src="{% static "img/icon.png" %}" style="width: 2rem; height: 2rem"
             alt="">{% trans "Jelly Bot" %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar"
            aria-controls="mainNavBar" aria-expanded="false" aria-label="{% trans "Toggle Nav Bar" %}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="mainNavBar">
        {{ nav_bar_html|safe }}
        <!-- DRAFT: (Low Priority) In site search -->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{% trans "Search in site" %}"
                   aria-label={% trans "Search" %}>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
    </div>
</nav>