{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "US Mask Finder" %}</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col mb-3">
                <ul>
                    <li>
                        {% blocktrans trimmed %}
                            Currently supports:
                            <ul>
                                <li>Target, within {{ target_range_mi }} miles</li>
                                <li>Walgreens, the closest 32 stores or approx. within 30 miles.</li>
                            </ul>
                        {% endblocktrans %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <form>
                    <div class="input-group">
                        <input type="number" class="form-control" id="zip_code" value="{{ zip_code }}" minlength="5"
                               maxlength="5"
                               placeholder="{% trans "Enter 5 digit US zip code" %}" aria-label="US zip code"
                               name="zip">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">{% trans "Search" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for result in results %}
                <div class="col-lg-4 col-md-12 mb-3">
                    <div class="card">
                        <div class="card-header">
                            {{ result.product_name }}
                        </div>
                        <div class="card-body">
                            <p class="card-title mb-3 text-danger">
                                {% with amt=result.amount %}
                                    {% blocktrans trimmed %}
                                        <code class="h2">{{ amt }}</code>&nbsp;left
                                    {% endblocktrans %}
                                {% endwith %}
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted">{{ result.name_str }}</h6>
                            <p class="card-text">
                                {{ result.address }}
                            </p>
                            <h5>{{ result.distance }}&nbsp;{% trans "mi" %}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}