{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block content %}
    {% include "components/chart.html" %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Channel Message Statistics" %}</div>
        </div>
    </div>
    <div class="container">
        {% if not channel_data.bot_accessible %}
            <div class="row">
                <div class="col mb-3 h4">
                    {% trans "The channel is marked inaccessible for Jelly Bot, so the data of this channel will not update." %}
                </div>
            </div>

            <hr>
        {% endif %}
        <div class="row">
            <div class="col-lg mb-3">
                <h3>{% trans "Parameters" %}</h3>
            </div>
        </div>

        <form>
            <div class="row mb-3 mx-1">
                <div class="row col-lg-8">
                    <label class="col-4 col-form-label text-right" for="range">{% trans "Range" %}</label>
                    <div class="col-8 input-group px-0">
                        <input type="number" class="form-control border-dark" value="{{ hr_range }}"
                               name="hours_within" id="range">
                        <div class="input-group-append"><span class="input-group-text">{% trans "Hours" %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-form-label text-right">
                    <small>{% trans "Leave this blank and refresh to get all-time record." %}</small>
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <div class="col text-right mx-3">
                    <small>{% trans "Above will be ignored if both starting time and the endtime are provided." %}</small>
                </div>
            </div>
            <hr>
            <div class="row mb-3 mx-1">
                <div class="row col-lg-8">
                    <label class="col-4 col-form-label text-right"
                           for="startingTime">{% trans "Starting Time" %}</label>
                    <input class="col-8 form-control border-dark" type="datetime-local" id="startingTime" name="start" value="{{ dt_start }}">
                </div>
                <div class="col-lg-4 col-form-label text-right">
                    <small>{% trans "Starting time of the data." %}</small>
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <div class="row col-lg-8">
                    <label class="col-4 col-form-label text-right" for="endingTime">{% trans "Ending Time" %}</label>
                    <input class="col-8 form-control border-dark" type="datetime-local" id="endingTime"
                           name="end" value="{{ dt_end }}">
                </div>
                <div class="col-lg-4 col-form-label text-right">
                    <small>{% trans "Ending time of the data." %}</small>
                </div>
            </div>
            <div class="row mb-3 mx-1">
                <div class="col-lg custom-control custom-checkbox text-center">
                    <input type="checkbox" class="custom-control-input" name="incl_unav" id="incl-unav"
                           {% if incl_unav %}checked{% endif %}>
                    <label class="custom-control-label"
                           for="incl-unav">{% trans "Including Unavailable Members" %}</label>
                </div>
            </div>
            <div class="row text-right">
                <div class="col">
                    <button class="btn btn-dark" type="submit">{% trans "Refresh" %}</button>
                </div>
            </div>
        </form>

        <hr>

        {% include "info/components/info_basic.html" with channel_data=channel_data channel_name=channel_name only %}

        <hr>

        <div class="row">
            <div class="col-lg mb-3">
                <h3>{% trans "Statistics" %}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg mb-3 h5">#&nbsp;{% trans "Summary" %}</div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                <div class="card border-dark text-center">
                    <h5 class="card-header text-dark">{% trans "Total Message Count" %}</h5>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-auto">
                                    <code class="h4">{{ channel_user_msg.msg_count }}</code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg mb-3">
                <div class="card border-dark text-center">
                    <h5 class="card-header text-dark">{% trans "Message Frequency" %}</h5>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row justify-content-lg-center">
                                <div class="col-lg-auto">
                                    <code class="h4">{{ message_frequency|stringformat:".3f" }}</code>&nbsp;{% trans "secs" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg mb-3">
                <h5>#&nbsp;{% trans "Hour Average Message Flow" %}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                {% include "info/components/msg_chart_hrflow.html" with msg_intvflow_data=msg_intvflow_data only %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg mb-3">
                <h5>#&nbsp;{% trans "Daily Message Flow" %}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                {% include "info/components/msg_chart_daily.html" with msg_daily_data=msg_daily_data only %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                {% include "info/components/msg_table_daily.html" with msg_daily_data=msg_daily_data only %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg mb-3">
                <h5>#&nbsp;{% trans "Member Message Count Ranking" %}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                {% include "info/components/msg_table_count.html" with message_data=channel_user_msg simplified=False only %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                <h5>#&nbsp;{% trans "Member Daily Message Count" %}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg mb-3">
                {% include "info/components/msg_table_user_daily.html" with message_data=msg_daily_user only %}
            </div>
        </div>
    </div>
{% endblock %}

{% block ex-style %}
    <link rel="stylesheet" href="{% static "css/utils/table.css" %}">

    {% include "components/interactive-table-css.html" %}
{% endblock %}

{% block ex-script %}
    {% include "components/interactive-table-js.html" %}
{% endblock %}