{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Attach Profile" %}</div>
        </div>
    </div>

    <div class="container">
        {% if attachable_profiles %}
            {% include "account/channel/prof/attach-list.html" with channel_oid=channel_oid target_list=target_list %}
        {% else %}
            {% include "account/channel/prof/attach-empty.html" with channel_oid=channel_oid %}
        {% endif %}
    </div>
{% endblock %}

{% block ex-script %}
    {% if attachable_profiles %}
        <script src="{% static "js/utils/xhr.js" %}" type="text/javascript"></script>
        <script src="{% static "js/utils/generator.js" %}" type="text/javascript"></script>
        <script src="{% static "js/account/profile/attach.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
            function attachProfile(poid, cid, target) {
                let url = `{% url "api.id.profile.attach" %}`;
                let params = `{{ static_keys_param.Manage.Profile.PROFILE_OID }}=${poid}`
                    + `&{{ static_keys_param.Manage.Profile.CHANNEL_OID }}=${cid}`
                    + `&{{ static_keys_param.Manage.Profile.TARGET }}=${target}`
                    + `&{{ static_keys_param.LOCAL_REFER }}=true`;

                xhrPostRequest(url, params, function (xhr) {
                    let success = xhr.response["{{ static_keys_result.SUCCESS }}"];

                    if (success) {
                        generateAlert("info", "{% trans "Profile attached." %}");
                    } else {
                        let message = "{% trans "Profile failed to attach." %}";
                        let result = xhr.response["{{ static_keys_result.RESULT }}"];
                        generateAlert("info", `${message} (${result})`);
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}