{% load i18n %}

<form id="attachProfile" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <h4>{% trans "Profiles" %}</h4>
        </div>
    </div>
    <div class="row">
        {% for profile in attachable_profiles %}
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-img-top p-2" style="background-color: {{ profile.color.color_hex }}">
                        <button class="btn btn-light attach" type="button"
                                data-poid="{{ profile.id }}" data-cid="{{ channel_oid }}">
                            {% trans "Attach" %}
                        </button>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ profile.name }}</h4>
                        <p class="card-text">
                            {% trans "Permission Level:" %}&nbsp;<b>{{ profile.permission_level.key }}</b>
                        </p>
                        {% trans "Permissions:" %}
                        <ul>
                            {% for perm_cat in profile.permission_set %}
                                <li><code>{{ perm_cat.code }}</code>:&nbsp;{{ perm_cat.key }}
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url "info.profile" profile_oid=profile.id %}" target="_blank"
                           class="card-link">
                            {% trans "Profile Details" %}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h4>{% trans "Target" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label for="target" class="sr-only">{% trans "Select a target member" %}</label>
            <select id="target" class="form-control">
                <option data-oid="">{% trans "(Self)" %}</option>
                {% for member_oid, member_name in member_list %}
                    <option data-oid="{{ member_oid }}">{% if member_name %}{{ member_name }}{% else %}{{ member_oid }}{% endif %}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>