{% load i18n %}

<div class="card border-info mb-3">
    <div class="card-header text-center">{% trans "Property" %}</div>
    <div class="card-body text-info">
        <div class="row">
            <label class="col-sm-4 col-form-label text-center" for="plv">{% trans "Permission Level" %}</label>
            <div class="col-sm-8">
                <select id="plv" name="x-PermissionLevel" class="form-control">
                    {% for perm_lv in max_perm_lv.iter_to_max %}
                        <option value="{{ perm_lv.code }}">
                            {{ perm_lv.key }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>