:root {
    --nav-height: 4rem;
}

a[id].anchor:before {
    display: block;
    content: " ";
    margin-top: calc(var(--nav-height) * -1);
    height: var(--nav-height);
    visibility: hidden;
}

nav {
    min-height: var(--nav-height);
}

body {
    font-family: "Segoe UI", "Microsoft JhengHei UI", "Roboto", serif, sans-serif;
    font-size: 1rem;
    padding-top: var(--nav-height);
}

pre {
    color: #e83e8c;
}

.no-line-break {
    white-space: nowrap;
}

.sm-dot {
    height: 0.7rem;
    min-width: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    display: inline-block;
}

.dot {
    height: 1.5rem;
    min-width: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: inline-block;
}

.click-select {
    user-select: all;
    cursor: pointer;
}

img.line-sticker {
    height: 2em;
    width: 2em;
}