:root {
    --nav-height: 4rem;
}

a[id].anchor:before {
  display: block;
  content: " ";
  margin-top: calc(var(--nav-height) * -1);
  height: var(--nav-height);
  visibility: hidden;
}

nav {
    min-height: var(--nav-height);
}

body {
    font-family: "Segoe UI", "Microsoft JhengHei UI", "Roboto", serif, sans-serif;
    font-size: 1rem;
    padding-top: var(--nav-height);
}

.no-line-break {
    white-space: nowrap;
}