{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Channel List" %}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% include "account/channel/list_table.html" %}
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {% url 'account.channel.connect' as reg_url %}
                {% blocktrans %}
                    If you:<br>
                    <ul>
                        <li>
                            Cannot find the desired channel to manage: <br>
                            <small>Please go to the <a href="{{ reg_url }}">register page</a> to register your channel
                            existence.</small>
                        </li>
                        <li>
                            Do not know how to determine what is the desired channel to manage: <br>
                            <!-- INCOMPLETE: Channel List - official guide to check the current channel token -->
                            <small>If using the official handled port, please check this page to see how to check the channel
                            token.<br>
                            If NOT using the official handled port, please check the guide of the corresponding bot of
                            how to check the channel token or channel id (The bot maker may not implement this).</small>
                        </li>
                    </ul>
                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endblock %}