{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Channel List" %}</div>
        </div>
    </div>

    <div class="container">
        <p>
            {% trans "To change the nickname of the channel, type the desired name then click Enter. If the name has been updated, a check mark will appear." %}
        </p>

        <hr>

        <div class="mb-3">
            <h5>{% trans "Bot accessible channels" %}</h5>
            <small>{% trans "Data stored in the Jelly Bot indicates that it can access to these channels." %}</small>
        </div>

        {% include "account/channel/list_table.html" with conn_list=conn_access_ok %}

        <hr>

        <div class="mb-3">
            <h5>{% trans "Bot inaccessible channels" %}&nbsp;
                <a href="#inaccessibleChannel" class="btn btn-outline-primary" data-toggle="collapse"
                   aria-expanded="false">
                    {% trans "Show / Hide inaccessible channels" %}
                </a>
            </h5>
            <small>{% trans "Jelly Bot marked these channels inaccessible by some event happened in the past." %}</small>
        </div>

        <div class="collapse" id="inaccessibleChannel">
            {% include "account/channel/list_table.html" with conn_list=conn_access_no %}
        </div>

        <hr>

        <div class="row">
            <div class="col">
                {% url 'account.channel.connect' as reg_url %}
                {% url 'page.doc.botcmd.cmd' code=bot_cmd_info_code as ch_info_url %}
                {% blocktrans trimmed %}
                    If you:<br>
                    <ul>
                        <li>
                            Cannot find the desired channel to manage: <br>
                            <small>Please go to the <a href="{{ reg_url }}">register page</a> to register your channel
                                membership.</small>
                        </li>
                        <li>
                            Do not know how to determine what is the desired channel to manage: <br>
                            <small>If using the official handled port, please check <a href="{{ ch_info_url }}">this
                                page</a>
                                to see how to check the current channel info.<br>
                                If NOT using the official handled port, please check the guide of the corresponding bot
                                to know how to check the channel token or channel id (The bot maker may not implement
                                this).</small>
                        </li>
                    </ul>
                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endblock %}

{% block ex-script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("input.channel-name").keyup(onChannelNameKeyup);
        });

        function onChannelNameKeyup(e) {
            let elem = $(this);
            elem.removeClass("is-valid is-invalid");

            if (e.which === 13) {
                let url = `{% url "api.id.channel.name_change" %}`;
                let params = `{{ static_keys_param.Manage.Channel.CHANNEL_OID }}=${$(this).data("channel")}&{{ static_keys_param.Manage.Channel.NEW_NAME }}=${$(this).val()}&{{ static_keys_param.LOCAL_REFER }}=true`;

                let xhr = new XMLHttpRequest();
                xhr.open("POST", url);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.responseType = "json";
                xhr.onload = function () {
                    let success = xhr.response.{{ static_keys_result.SUCCESS }} || false;

                    onNameChangeLoad(success, xhr.response, elem);
                };
                xhr.send(params);
            }
        }

        function onNameChangeLoad(success, response, elem) {
            elem.addClass(success ? "is-valid" : "is-invalid");

            if (!success) {
                console.log(response);
            }
        }

        function changeStar(channel_oid, new_val) {
            let url = `{% url "api.id.channel.star_change" %}`;
            let params = `{{ static_keys_param.Manage.Channel.CHANNEL_OID }}=${channel_oid}&{{ static_keys_param.Manage.Channel.STAR }}=${new_val}&{{ static_keys_param.LOCAL_REFER }}=true`;

            let xhr = new XMLHttpRequest();
            xhr.open("POST", url);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.responseType = "json";
            xhr.send(params);
        }
    </script>
    <script type="text/javascript" src="{% static "js/account/channel_list.js" %}"></script>
{% endblock %}