{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Channel Management" %}</div>
        </div>
    </div>
    <!-- FIXME: [Priority 2]
                        Channel Managing Elements:
                            Informative:
                                Display all profiles assigned to the user
                            Administrative:
                                (Mod+) All settings from config
                -->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="row">
                    <div class="col">
                        {% trans "Channel ID: " %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <code style="font-size: 2rem;">{{ channel_oid }}</code>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                {% trans "Profiles: " %}{{ user_profiles|join:prof_separator }}
            </div>
        </div>
    </div>
{% endblock %}