{% load i18n %}
{% load utils %}

<div class="card border-warning">
    <div class="card-header text-center">{% trans "Registration" %}</div>
    <div class="card-body text-warning">
        <div class="mb-3" data-toggle="tooltip" data-placement="top"
             title="{% trans "Search corresponding keyword on-site to get more information." %}">
            <div class="btn-group btn-group-toggle col" data-toggle="buttons">
                <label class="btn btn-warning active arRegister" id="arMember">
                    <input type="radio" autocomplete="off" checked>
                    {% trans "Channel Member" %}
                </label>
                <label class="btn btn-warning arRegister" id="arExecode">
                    <input type="radio" autocomplete="off">
                    {% trans "Get an Execode" %}
                </label>
                <label class="btn btn-warning arRegister" id="arChannel">
                    <input type="radio" autocomplete="off">
                    {% trans "By Channel Token" %}
                </label>
            </div>
        </div>

        <div class="mb-3" data-btn-id="arMember">
            <div class="w-100 card card-body text-center text-dark border border-warning">
                <h5 class="card-title">{% trans "Channel Member" %}</h5>
                <p class="card-text">
                    <small>{% trans "Select the channel you are already in to register the module." %}</small>
                    <br>
                    <small>
                        {% url "account.channel.connect" as connect_url %}
                        {% blocktrans trimmed %}
                            Check <a href="{{ connect_url }}" target="_blank">this page</a> to
                            know how to get the channel's membership.
                        {% endblocktrans %}
                    </small>
                </p>
                <div class="form-group row">
                    <div class="col">
                        <label for="arChannel" class="sr-only">{% trans "Select a channel" %}</label>
                        <select id="arChannel" class="form-control">
                            <option value="default">{% trans "Select a channel" %}</option>
                            {% for user_ch_entry in user_ch_list %}
                                {% with user_ch_entry.channel_data as channel_data %}
                                    {% with user_ch_entry.channel_name as channel_name %}
                                        <option data-cname="{{ channel_name }}"
                                                data-ctoken="{{ channel_data.token }}"
                                                data-cplat="{{ channel_data.platform.key }}"
                                                data-cplatcode="{{ channel_data.platform.code }}"
                                                data-cid="{{ channel_data.id }}">
                                            {% trans "ID: " %}{{ channel_data.id }}{% if channel_name %}&nbsp;-&nbsp;{{ channel_name }}{% endif %}</option>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-7">
                        <small>{% trans "Name" %}</small>
                    </div>
                    <div class="col-5">
                        <small>{% trans "Platform" %}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-7">
                        <span id="channelName">-</span>
                    </div>
                    <div class="col-5">
                        <input type="hidden" id="channelPlatCode" data-postkey="{{ static_keys_param.AutoReply.PLATFORM }}"/>
                        <span id="channelPlatform">-</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small>{% trans "Channel Token" %}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <code class="h6" id="channelToken"
                              data-postkey="{{ static_keys_param.AutoReply.CHANNEL_TOKEN }}">-</code>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small>{% trans "Channel ID" %}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <code class="h6" id="channelId">-</code>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 d-none" data-btn-id="arExecode">
            <div class="w-100 card card-body text-center text-dark border border-warning">
                <h5 class="card-title">{% trans "Execode" %}</h5>
                <p class="card-text">
                    <small>{% trans "The Execode for registering the module will appear below once the task is enqueued." %}</small>
                </p>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8 bg-light"><h3><code id="arExecodeReturn">-</code></h3></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

        <div class="mb-3 d-none" data-btn-id="arChannel">
            <div class="w-100 card card-body text-center text-dark border border-warning">
                <h5 class="card-title">{% trans "Channel Token" %}</h5>
                <p class="card-text">
                    <small>{% trans "Input the channel token to directly register the module." %}</small>
                    <br>
                    <small>{% trans "This method will be unusable if the channel had not been registered in the bot." %}</small>
                </p>
                <div class="form-group row">
                    <div class="col-3">
                        <label class="col-form-label"
                               for="arPlatform">{% trans "Platform" %}</label>
                    </div>
                    <div class="col">
                        <select id="arPlatform" class="form-control">
                            {% for platform in platform_list %}
                                <option value="{{ platform.code }}"
                                        data-postkey="{{ static_keys_param.AutoReply.PLATFORM }}">{{ platform.key }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" id="arChannelToken"
                           placeholder="{% trans "Input the Channel Token" %}"
                           aria-label="{% trans "Channel Token" %}"
                           data-postkey="{{ static_keys_param.AutoReply.CHANNEL_TOKEN }}">
                    <div class="input-group-append">
                        <button type="button"
                                class="btn bg-light btn-outline-warning text-dark"
                                id="arChannelCheck">
                            <span>{% trans "Check" %}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>