{% load i18n %}

<script type="text/javascript">
    // noinspection JSUnusedGlobalSymbols
    let tagSplitter = "{{ tag_splitter }}";  // Used in artag.js

    function getChannelDataEndpointUrl(platVal, channel) {
        return `{% url "api.id.channel.data" %}?{{ static_keys_param.DataQuery.Channel.PLATFORM }}=${platVal}&{{ static_keys_param.DataQuery.Channel.CHANNEL_TOKEN }}=${channel}&{{ static_keys_param.LOCAL_REFER }}=true`;
    }

    function checkChannelMembershipAsync(platVal, channel, fnOnLoad) {
        if (channel === "") {
            fnOnLoad(false);
        } else {
            let url = getChannelDataEndpointUrl(platVal, channel);

            let xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.responseType = "json";
            xhr.onload = function () {
                let success = xhr.response["{{ static_keys_result.SUCCESS }}"];

                fnOnLoad(success);
                console.log("Check Channel Membership (Async)");
                console.log(xhr.response);
                postCheckChannel(xhr.response);
            };
            xhr.send();
        }
    }

    function hasChannelMembership(platVal, channel) {
        let url = getChannelDataEndpointUrl(platVal, channel);

        let xhr = new XMLHttpRequest();
        xhr.open("GET", url, false);
        xhr.send();

        let response = xhr.response;

        console.log("Check Channel Membership");
        console.log(response);

        let success = response["{{ static_keys_result.SUCCESS }}"];

        postCheckChannel(response, success);
    }

    function postCheckChannel(response, success) {
        if (success) {
            checkAccessPinnedPermission(response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.Results.MODEL }}"]["{{ oid_key }}"].substring(10, 34));
        } else {
            enablePinnedModuleAccess(false);
        }
    }

    function collectData() {
        let param = new URLSearchParams();

        // Attach KEYWORD and RESPONSES
        $("div.content-check:not(.d-none)").find("textarea").each(function () {
            param.append($(this).data("postkey"), $(this).val().trim());
        });

        // Attach KEYWORD TYPES and RESPONSE TYPES
        $("div.content-check:not(.d-none) .ar-type").each(function () {
            param.append($(this).data("postkey"), $(this).val());
        });

        if (regId === "arChannel") {
            // Attach CHANNEL_TOKEN, PLATFORM
            $("input#arChannelToken, select#arPlatform option:selected").each(function () {
                param.append($(this).data("postkey"), $(this).val());
            });
        } else if (regId === "arMember") {
            // Attach PLATFORM
            let elem = $("input#channelPlatCode");
            param.append(elem.data("postkey"), elem.val());
            // Attach CHANNEL_TOKEN
            elem = $("code#channelToken");
            if (elem.text() !== "-") {
                param.append(elem.data("postkey"), elem.text());
            }
        }

        // Attach PRIVATE, PIN, COOLDOWN
        $("input#arPrivate, input#arPinned, input#arCoolDown").each(function () {
            param.append($(this).data("postkey"), $(this).val());
        });

        // Attach TAGS
        param.append("{{ static_keys_param.AutoReply.TAGS }}", selectedTags.join(","));

        // Attach CREATOR_TOKEN flag
        param.append("{{ static_keys_param.AutoReply.API_TOKEN }}", "{{ api_token }}");

        // Attach LOCAL_REFER flag
        param.append("{{ static_keys_param.LOCAL_REFER }}", "true");

        return param;
    }

    function submitData(onLoadCallback) {
        let url;
        if (regId === "arChannel" || regId === "arMember") {
            url = "{% url "api.ar.add" %}";
        } else if (regId === "arExecode") {
            url = "{% url "api.ar.add_execode" %}"
        }

        xhrPostRequest(url, collectData(), function (xhr) {
            hideAllSubmitMsg();
            try {
                updateArCode(xhr.response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.Results.OUTCOME }}"]);
                onLoadCallback(xhr.response);
            } catch (error) {
                onSubmissionFailed(error);
            }
        });
    }

    function displayExecode(response) {
        if (response.hasOwnProperty("{{ static_keys_result.RESULT }}") &&
            response["{{ static_keys_result.RESULT }}"].hasOwnProperty("{{ static_keys_result.ExecodeResponse.EXECODE }}")) {
            $("code#arExecodeReturn").text(response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.ExecodeResponse.EXECODE }}"]);
        } else {
            console.log(`Execode Display Failed. Code: ${response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.ExecodeResponse.EXECODE }}"]}`)
        }
    }

    function validateContent(type, content, fnOnLoad) {
        let url = `{% url "api.ar.validate" %}?{{ static_keys_param.Validation.CONTENT }}=${encodeURIComponent(content)}&{{ static_keys_param.Validation.CONTENT_TYPE }}=${type}`;

        let xhr = new XMLHttpRequest();
        xhr.open("GET", url);
        xhr.responseType = "json";
        xhr.onload = function () {
            let success = xhr.response.{{ static_keys_result.SUCCESS }} || false;
            let result = xhr.response.{{ static_keys_result.RESULT }} || false;

            fnOnLoad(success, result);
        };
        xhr.send();
    }

    function searchTagsByPopularity(word, onFound, onNotFound, onResult) {
        let url = `{% url "api.ar.tag.pop" %}?{{ static_keys_param.DataQuery.KEYWORD }}=${encodeURIComponent(word)}`;

        let xhr = new XMLHttpRequest();
        xhr.open("GET", url);
        xhr.responseType = "json";
        xhr.onload = function () {
            let resp = xhr.response["{{ static_keys_result.RESULT }}"];

            onResult();
            if (resp.length > 0) {
                onFound(resp);
            } else {
                onNotFound();
            }
        };
        xhr.send();
    }

    function checkAccessPinnedPermission(coid) {
        let url = `{% url "api.id.perm" %}?{{ static_keys_param.Manage.Channel.CHANNEL_OID }}=${coid}&{{ static_keys_param.LOCAL_REFER }}=true`;

        let xhr = new XMLHttpRequest();
        xhr.open("GET", url);
        xhr.responseType = "json";
        xhr.onload = function () {
            let resp = xhr.response["{{ static_keys_result.RESULT }}"];
            if (resp) {
                enablePinnedModuleAccess(resp.includes({{ perm_pin_access }}));
            }
        };
        xhr.send();
    }

    // Return `true` if any error was found.
    function formSubmissionChecks() {
        let errmsgs = [];

        // Check Content Length and related actions on components
        errmsgs = errmsgs.concat(formValidateContentLength());

        // Check the content's validity and also refresh the validity marker
        errmsgs = errmsgs.concat(formValidateContentRefreshMarker());

        // Channel check
        if (regId === "arChannel") {
            errmsgs = errmsgs.concat(formValidateChannel());
        }

        // Member check
        if (regId === "arMember") {
            errmsgs = errmsgs.concat(formValidateMember());
        }

        // ------------------------------

        // Determine if to display modal or not
        let msgAvailable = errmsgs.length > 0;

        if (msgAvailable) {
            $("div#modalSubmitMessage").html(errmsgs.join("<br>"));
            $("div#modalSubmit").modal("show");
        }

        return msgAvailable;
    }

    // Refresh the validity markers of the textareas and return corresponding error message if any
    function formValidateContentRefreshMarker() {
        let errMsg = [];

        $("div.txtarea-count").each(function () {
            if (!$(this).parent().hasClass("d-none")) {
                let valid = validateTextArea($(this), $(this).find("textarea"));
                if (!valid) {
                    let name = $("label[for='" + $(this).find("textarea").attr("id") + "']").text();
                    {% blocktrans trimmed %}
                        let msg = `The content of <b>${name}</b> is invalid.</b>`;
                    {% endblocktrans %}
                    errMsg.push(msg);
                }
            }
        });

        return errMsg;
    }

    function formValidateContentLength() {
        let errmsgs = [];

        $("div.content-check:not(.d-none)").each(function () {
            let progBar = $(this).find("div.progress-bar");
            let valNow = parseInt(progBar.attr("aria-valuenow"));
            let valMax = parseInt(progBar.attr("aria-valuemax"));

            let overlimit = valNow > valMax;
            let empty = valNow === 0;

            if (overlimit || empty) {
                // Display tooltip of invalid length
                $(this).find("div.tooltip-hide[data-toggle=tooltip]").tooltip('enable').tooltip('show').tooltip('disable');

                updateArCode(null);

                // Push Error Messages
                let txtareaFor = $("label[for='" + $(this).find("textarea").attr("id") + "']").text();

                if (overlimit) {
                    {% blocktrans trimmed %}
                        let msg = `The content length of <b>${txtareaFor}</b> is overlimit. (Limit: ${valMax} / Current: <b>${valNow})</b>`;
                    {% endblocktrans %}
                    errmsgs.push(msg);
                } else if (empty) {
                    {% blocktrans trimmed %}
                        let msg = `The content length of <b>${txtareaFor}</b> cannot be 0.`;
                    {% endblocktrans %}
                    errmsgs.push(msg);
                }
            }
        });

        return errmsgs;
    }

    function formValidateChannel() {
        let plat = $("select#arPlatform option:selected").val();
        let channelToken = $("input#arChannelToken").val();

        if (!hasChannelMembership(plat, channelToken)) {
            return ['{% trans "Channel validation failed. Recheck the input channel info." %}'];
        }

        return [];
    }

    function formValidateMember() {
        if ($("select#arChannel").children("option:selected").val() === "default") {
            return ['{% trans "Select a channel in Registration > Channel Member or any other method to register the module." %}'];
        }

        return [];
    }
</script>