{% load i18n %}

<div class="card border-info">
    <div class="card-header text-center">{% trans "Notes" %}</div>
    <div class="card-body text-info">
        <h4 class="card-title">{% trans "Content Type" %}</h4>
        <p class="card-text">
            {% blocktrans trimmed %}
                To let the content be valid, the content should be in the format described below
                corresponds to the content type.
            {% endblocktrans %}
        </p>
        <h5 class="card-title">{% trans "Text" %}</h5>
        <p class="card-text">
            {% blocktrans trimmed %}
                <small>Could be anything, but the <b>length cannot be over 2000.</b></small><br>
                <small>The content <b>could use markdown syntax</b>. The outcome depends on the platform.
                    For LINE, it's support is very limited, while on Discord, it supports most basic syntax.</small>
            {% endblocktrans %}
        </p>
        <h5 class="card-title">{% trans "Image" %}</h5>
        <p class="card-text">
            {% blocktrans trimmed %}
                <small>The main MIME type should be <code>image</code>. In the other words, when
                    you
                    open then link,
                    the browser should <b>just give you an image</b> not a web page.
                </small>
            {% endblocktrans %}
        </p>
        <h5 class="card-title">{% trans "LINE Sticker" %}</h5>
        <!-- DRAFT: LINE Sticker: Add the link to link sticker id acquiring page -->
        <p class="card-text">
            {% blocktrans trimmed %}
                <small>Should be a sticker ID. Usually the ID will be a <b>1~11 digits number</b>.
                </small>
            {% endblocktrans %}
        </p>
        <h5 class="card-title">{% trans "Emoji / Sticker" %}</h5>
        <p class="card-text">
            {% blocktrans trimmed %}
                <small>Refer to the "LINE Sticker" section for LINE Sticker.</small><br>
                <div>
                    <small>Discord emojis are treated as normal text. They are in the form of <code>&lt;:EMOJI_NAME:EMOJI_ID&gt;</code>.
                    Example: <code>&lt;:neut:554302047038734366&gt;</code></small>
                    <br>
                    <ul>
                        <li><code>EMOJI_NAME</code>: What you normally type in the chat window excluding the wrapping colons.
                            If you type :neut: in the window, then "neut" is the name of the emoji.</li>
                        <li><code>EMOJI_ID</code>: The number in the URL when you get the link of the emoji.
                            On PC client, you can right click on the emoji and click "Copy Link" or "Open Link" to get the number / ID.</li>
                    </ul>
                </div>
            {% endblocktrans %}
        </p>
    </div>
</div>