{% extends "base/base.html" %}
{% load i18n %}


{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-lg">


                <!-- INCOMPLETE: New auto reply connection on-site layout / React

                BS Forms: https://getbootstrap.com/docs/4.3/components/forms/#custom-forms
                React Tutorial: https://reactjs.org/tutorial/tutorial.html#setup-for-the-tutorial
                React to website: https://reactjs.org/docs/add-react-to-a-website.html
                UI: https://material-ui.com/

                KeywordID = "k"
                ResponsesIDs = "r"
                CreatorUserID = "cr"
                Pinned = "p"
                Disabled = "d"
                Private = "pr"
                CoolDownSeconds = "cd"
                CalledCount = "c"
                LastUsed = "l"
                ExcludeUserIDs = "e"
                ChannelIDs = "ch" - Issue token

                 -->
            </div>
        </div>
    </div>
{% endblock %}