{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

<!-- INCOMPLETE: When CD > 20 sec, no force webpage over a lot of lines -->

{% block content %}
    {% with ar_prfx=static_keys_param.AutoReply %}
        {% csrf_token %}
        <div class="container">
            <form class="enable-login d-none needs-validation" novalidate id="arForm">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="hidden" id="response-count" value="1">

                        <div class="card border-primary mb-3">
                            <div class="card-header text-center">{% trans "Main Settings" %}</div>
                            <div class="card-body text-primary">
                                <div class="form-group content-check">

                                    <h5 class="card-title">{% trans "Keyword" %}</h5>
                                    <label class="sr-only" for="arKeyword">{% trans "Keyword" %}</label>
                                    <p class="card-text">
                                        <small>{% trans "The word to trigger the Auto-Reply module. Note that this is case-sensitive." %}</small>
                                    </p>

                                    {% with prfx="arKeyword" prfxt="arKeywordType" %}
                                        {% include "components/txtarea.html" with param_content=ar_prfx.KEYWORD param_content_type=ar_prfx.KEYWORD_TYPE txt_area_name=prfx txt_area_id=prfx type_select_id=prfxt max_length=max_length cttypes=contenttype_list only %}
                                    {% endwith %}
                                </div>

                                <b class="d-none" id="respProp" data-max="{{ max_responses }}"></b>

                                {% for i in ""|ljust:max_responses %}
                                    <div class="form-group content-check d-none" id="respGroup{{ forloop.counter }}">

                                        <h5 class="card-title">{% trans "Response" %}&nbsp;{{ forloop.counter }}</h5>
                                        <label class="sr-only"
                                               for="arReply{{ forloop.counter }}">{% trans "Response" %}&nbsp;{{ forloop.counter }}</label>
                                        <p class="card-text">
                                            <small>{% trans "The word to reply when the module is triggered." %}</small>
                                        </p>
                                        {% with prfx="arReply" prfxt="arReplyType" ct=forloop.counter|stringformat:"s" %}
                                            {% include "components/txtarea.html" with param_content=ar_prfx.RESPONSE param_content_type=ar_prfx.RESPONSE_TYPE txt_area_name=prfx txt_area_id=prfx|add:ct type_select_id=prfxt|add:ct max_length=max_length cttypes=contenttype_list only %}
                                        {% endwith %}
                                    </div>
                                {% endfor %}

                                <div class="form-group float-right">
                                    <button type="button" class="btn btn-outline-primary mr-2 arRespBtnAdd"><b><span
                                            style="font-family: monospace;">+</span></b></button>
                                    <button type="button" class="btn btn-outline-primary arRespBtnDel" disabled><b><span
                                            style="font-family: monospace;">-</span></b></button>
                                </div>
                            </div>
                        </div>

                        <div class="card border-info">
                            <div class="card-header text-center">{% trans "Notes" %}</div>
                            <div class="card-body text-info">
                                <h4 class="card-title">{% trans "Content Type" %}</h4>
                                <p class="card-text">
                                    {% blocktrans trimmed %}
                                        To let the content be valid, the content should be in the format described below
                                        corresponds to the content type.
                                    {% endblocktrans %}
                                </p>
                                <h5 class="card-title">{% trans "Text" %}</h5>
                                <p class="card-text">
                                    {% blocktrans trimmed %}
                                        <small>Could be anything, but the <b>length cannot be over 2000.</b></small>
                                    {% endblocktrans %}
                                </p>
                                <h5 class="card-title">{% trans "Image" %}</h5>
                                <p class="card-text">
                                    {% blocktrans trimmed %}
                                        <small>The main MIME type should be <code>image</code>. In the other words, when
                                            you
                                            open then link,
                                            the browser should <b>just give you an image</b> not a web page.
                                        </small>
                                    {% endblocktrans %}
                                </p>
                                <h5 class="card-title">{% trans "LINE Sticker" %}</h5>
                                <!-- TODO: LINE Sticker: Add the link to link sticker id acquiring page -->
                                <p class="card-text">
                                    {% blocktrans trimmed %}
                                        <small>Should be a sticker ID. Usually the ID will be <b>1~11 digits number</b>.
                                        </small>
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card border-success mb-3">
                            <div class="card-header text-center">{% trans "Properties" %}</div>
                            <div class="card-body text-success">
                                <!-- FIXME: Permission - Add `CLASS_KEY` to unlock when the user has the permission -->
                                <div class="mb-3" data-toggle="tooltip" data-placement="top"
                                     title="{% trans "You must have the permission to configure this." %}">
                                    <div class="w-100 card card-body btn btn-outline-success border-success btn-div disabled"
                                         data-input="arPinned">
                                        <input type="hidden" value="0" id="arPinned" name="arPinned"
                                               data-postkey="{{ static_keys_param.AutoReply.PINNED }}"/>
                                        <h5 class="card-title">{% trans "Pinned" %}</h5>
                                        <p class="card-text">
                                            <small>{% trans "If the module is pinned, it can only be overwritten by another pinned module." %}</small>
                                        </p>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="w-100 card card-body btn btn-outline-success border-success btn-div"
                                         data-input="arPrivate">
                                        <input type="hidden" value="0" id="arPrivate" name="arPrivate"
                                               data-postkey="{{ static_keys_param.AutoReply.PRIVATE }}"/>
                                        <h5 class="card-title">{% trans "Private" %}</h5>
                                        <p class="card-text">
                                            <small>{% trans "The module can only be used and searched within its channel." %}</small>
                                        </p>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="w-100 card card-body border-success">
                                        <h5 class="card-title text-center">{% trans "Tags" %}</h5>

                                        <p class="card-text">
                                            <small>{% trans "Tag can be used to categorize auto-reply modules. Mostly bringing convenience to copy modules to the other channel." %}</small>
                                        </p>

                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <b>{% trans "Selected Tags" %}</b> -
                                                <small>{% trans "Click on the unwanted tag to remove." %}</small>
                                            </div>
                                            <div id="arTagSelectMsg">{% trans "No tags have been selected." %}</div>
                                            <div id="arTagSelected"></div>
                                        </div>
                                        <hr>
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                {% trans "Popular Tags" %} -
                                                <small>{% trans "Click on the tag to select." %}</small>
                                            </div>
                                            <div class="d-none"
                                                 id="arTagPopMsg">{% trans "No tags have been created. Try to create a new one!" %}</div>
                                            <div id="arTagPop">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                {% trans "Search Tags" %} -
                                                <small>{% trans "Click on the tag to add." %}</small>
                                            </div>
                                            <p>
                                                <small>
                                                    {% blocktrans trimmed %}
                                                        <ul>
                                                            <li>Searching keyword can be a <a
                                                                    href="https://regexr.com/">Regular Expression</a>.
                                                            </li>
                                                            <li>If the desired result is not found, try to narrow down
                                                                the keyword.
                                                            </li>
                                                            <li>If the tag is not found, a newly created tag will be one
                                                                of the searching result.
                                                            </li>
                                                        </ul>
                                                    {% endblocktrans %}
                                                </small>
                                            </p>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Search Keyword"
                                                       aria-label="{% trans "Tag Keyword" %}" id="arTagKeyword">
                                                <div class="input-group-append tooltip-hide" id="tagSearchErr"
                                                     data-toggle="tooltip" data-placement="top"
                                                     title="{% blocktrans trimmed %}Make sure that the Tag searching keyword does NOT contains '{{ tag_splittor }}' and NOT empty.{% endblocktrans %}">
                                                    <button type="button" class="btn btn-success" id="arTagSearch">
                                                        {% trans "Search" %}
                                                    </button>
                                                </div>
                                            </div>
                                            <div id="arTagSearchResult">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="w-100 card card-body border-success text-center">
                                        <h5 class="card-title">{% trans "Cooldown" %}</h5>
                                        <div class="card-text">
                                            <div class="row">
                                                <div class="col-6">
                                                    <small>
                                                        {% blocktrans trimmed %}
                                                            Time duration for the module to be called again.<br>0 sec
                                                            means
                                                            no cool down.
                                                        {% endblocktrans %}
                                                    </small>
                                                </div>
                                                <div class="col-6">
                                                    <div class="input-group mb-3">
                                                        <input type="number"
                                                               class="form-control border-success" id="arCoolDown"
                                                               value="0" name="arCoolDown"
                                                               data-postkey="{{ static_keys_param.AutoReply.COOLDOWN }}"
                                                               aria-label="{% trans "Cooldown" %}"
                                                               aria-describedby="{% trans "Cooldown" %}" required>
                                                        <div class="input-group-append">
                                                        <span class="input-group-text"
                                                              id="unit">{% trans "Seconds" %}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--
                                        TODO: Auto Reply Add Form - poor layout

                                        -- Add to `blocktrans` above

                                         Despite the range of the slide bar is between 0 and 30 sec, you can
                                         manually enter any integer to the box as the cooldown duration.

                                        <div class="form-row">
                                            <div class="col-8">
                                                <label class="sr-only"
                                                       for="arCoolDownRange">{% trans "Cooldown" %}</label>
                                                <input type="range" class="custom-range" min="0"
                                                       max="30" step="1" value="0" id="arCoolDownRange">
                                            </div>
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <input type="number"
                                                       class="form-control border-success" id="arCoolDown" value="0"
                                                       name="arCoolDown"
                                                       data-postkey="{{ static_keys_param.AutoReply.COOLDOWN }}"
                                                       aria-label="{% trans "Cooldown" %}" aria-describedby="unit"
                                                       required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text"
                                                              id="unit">{% trans "Seconds" %}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border-warning">
                            <div class="card-header text-center">{% trans "Registration" %}</div>
                            <div class="card-body text-warning">
                                <div class="mb-3" data-toggle="tooltip" data-placement="top"
                                     title="{% trans "Search corresponding keyword on-site to get more information." %}">
                                    <div class="btn-group btn-group-toggle col" data-toggle="buttons">
                                        <label class="btn btn-warning active arRegister" id="arMember">
                                            <input type="radio" autocomplete="off" checked>
                                            {% trans "Channel Member" %}
                                        </label>
                                        <label class="btn btn-warning arRegister" id="arToken">
                                            <input type="radio" autocomplete="off">
                                            {% trans "Get a token" %}
                                        </label>
                                        <label class="btn btn-warning arRegister" id="arChannel">
                                            <input type="radio" autocomplete="off">
                                            {% trans "By Channel Token" %}
                                        </label>
                                    </div>
                                </div>

                                <div class="mb-3" data-btn-id="arMember">
                                    <div class="w-100 card card-body btn btn-outline-warning active">
                                        <h5 class="card-title">{% trans "Channel Member" %}</h5>
                                        <p class="card-text">
                                            <small>{% trans "Select the channel you are already in to register the module." %}</small>
                                            <br>
                                            <small>
                                                {% url "account.channel.connect" as connect_url %}
                                                {% blocktrans %}
                                                    Check <a href="{{ connect_url }}" target="_blank">this page</a> to
                                                    know how to get the channel's membership.
                                                {% endblocktrans %}
                                            </small>
                                        </p>
                                        <div class="form-group row">
                                            <div class="col">
                                                <select id="arPlatform" class="form-control">
                                                    <option value="default">{% trans "Select a channel" %}</option>
                                                    {% for user_ch_entry in user_ch_list %}
                                                        {% with user_ch_entry.channel as channel_data %}
                                                            {% with channel_data.name|get_val:root_uid_str as channel_name %}
                                                                <option data-cname="{{ channel_name }}"
                                                                        data-ctoken="{{ channel_data.token }}"
                                                                        data-cplat="{{ channel_data.platform.key }}"
                                                                        data-cid="{{ channel_data.id }}">
                                                                    {% trans "ID: " %}{{ channel_data.id }}
                                                                    {% if channel_name %}
                                                                        &nbsp;-&nbsp;{{ channel_name }}
                                                                    {% endif %}</option>
                                                            {% endwith %}
                                                        {% endwith %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-7">
                                                <small>{% trans "Name" %}</small>
                                            </div>
                                            <div class="col-5">
                                                <small>{% trans "Platform" %}</small>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-7">
                                                <span id="channelName">-</span>
                                            </div>
                                            <div class="col-5">
                                                <span id="channelPlatform"
                                                      data-postkey="{{ static_keys_param.AutoReply.PLATFORM }}">-</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <small>{% trans "Channel Token" %}</small>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <code class="h6" id="channelToken"
                                                      data-postkey="{{ static_keys_param.AutoReply.CHANNEL_TOKEN }}">-</code>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <small>{% trans "Channel ID" %}</small>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <code class="h6" id="channelId">-</code>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 d-none" data-btn-id="arToken">
                                    <div class="w-100 card card-body btn btn-outline-warning active">
                                        <h5 class="card-title">{% trans "Token" %}</h5>
                                        <p class="card-text">
                                            <small>{% trans "The token will appear below once the module was successfully registered." %}</small>
                                        </p>
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-8 bg-light"><h3><code id="arTokenReturn"></code></h3></div>
                                            <div class="col"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 d-none" data-btn-id="arChannel">
                                    <div class="w-100 card card-body btn btn-outline-warning active">
                                        <h5 class="card-title">{% trans "Channel Token" %}</h5>
                                        <p class="card-text">
                                            <small>{% trans "Input the channel token to directly register the module." %}</small>
                                            <br>
                                            <small>{% trans "This method will be unusable if the channel had not been registered in the bot." %}</small>
                                        </p>
                                        <div class="form-group row">
                                            <div class="col-3">
                                                <label class="col-form-label"
                                                       for="arPlatform">{% trans "Platform" %}</label>
                                            </div>
                                            <div class="col">
                                                <select id="arPlatform" class="form-control">
                                                    {% for platform in platform_list %}
                                                        <option value="{{ platform.code }}"
                                                                data-postkey="{{ static_keys_param.AutoReply.PLATFORM }}">{{ platform.key }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <input type="text" class="form-control" id="arChannelID"
                                                   placeholder="Input the Channel Token"
                                                   aria-label="{% trans "Channel Token" %}"
                                                   data-postkey="{{ static_keys_param.AutoReply.CHANNEL_TOKEN }}">
                                            <div class="input-group-append">
                                                <button type="button"
                                                        class="btn bg-light btn-outline-warning text-dark"
                                                        id="arChannelCheck">
                                                    <span>{% trans "Check" %}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="text-right">
                    <div class="col text-danger d-none" id="inputFailed">{% trans "Recheck your inputs." %}</div>
                    <div class="col text-success d-none" id="submitSuccess">{% trans "Submission Succeed." %}</div>
                    <div class="col text-danger d-none" id="submitFailed">{% trans "Submission Failed." %}</div>
                    <div class="col d-inline">
                        <span><a href="{% url "page.doc.code.insert" %}"
                                 target="_blank">{% trans "Insert Outcome Code:" %}</a></span>
                        <h5 class="d-inline"><a id="arCodeLink" data-prefix="{% url "page.doc.code.insert" %}#"><code
                                id="arCode">-</code></a></h5>
                    </div>
                    <div class="col d-inline">
                        <button type="button" class="btn btn-outline-dark arSubmit"
                                disabled>{% trans "Submit" %}</button>
                    </div>
                </div>
                <div class="m-3 text-right">
                    <small>{% trans "Last Submission Status Updated on " %}</small><span id="arSubmitTime">-</span>
                </div>
            </form>
        </div>
    {% endwith %}
{% endblock %}

{% block ex-script %}
    <script type="text/javascript">
        let tagSplittor = "{{ tag_splittor }}";

        function checkChannelMembership(platVal, channel, fnOnLoad) {
            if (channel === "") {
                fnOnLoad(false);
            } else {
                let url = `{% url "api.id.channel.data" %}?{{ static_keys_param.DataQuery.Channel.PLATFORM }}=${platVal}&{{ static_keys_param.DataQuery.Channel.CHANNEL_TOKEN }}=${channel}&{{ static_keys_param.LOCAL_REFER }}=true`;

                let xhr = new XMLHttpRequest();
                xhr.open("GET", url);
                xhr.responseType = "json";
                xhr.onload = function () {
                    fnOnLoad(xhr.response["{{ static_keys_result.SUCCESS }}"]);
                };
                xhr.send();
            }
        }

        function collectData() {
            let param = new URLSearchParams();

            // Attach KEYWORD and RESPONSES
            $("div.content-check:not(.d-none)").find("textarea").each(function () {
                param.append($(this).data("postkey"), $(this).val());
            });

            // Attach KEYWORD TYPES and RESPONSE TYPES
            $("div.content-check:not(.d-none) .ar-type").each(function () {
                param.append($(this).data("postkey"), $(this).val());
            });

            if (regId === "arChannel") {
                // Attach CHANNEL_TOKEN, PLATFORM
                $("input#arChannelID, select#arPlatform option:selected").each(function () {
                    param.append($(this).data("postkey"), $(this).val());
                });
            } else if (regId === "arMember") {
                // Attach CHANNEL_TOKEN, PLATFORM
                $("span#channelPlatform, code#channelToken").each(function () {
                    param.append($(this).data("postkey"), $(this).val());
                });
            }

            // Attach PRIVATE, PIN, COOLDOWN
            $("input#arPrivate, input#arPinned, input#arCoolDown").each(function () {
                param.append($(this).data("postkey"), $(this).val());
            });

            // Attach TAGS
            param.append("{{ static_keys_param.AutoReply.TAGS }}", selectedTags.join(","));

            // Attach CREATOR_TOKEN flag
            param.append("{{ static_keys_param.AutoReply.API_TOKEN }}", "{{ api_token }}");

            // Attach LOCAL_REFER flag
            param.append("{{ static_keys_param.LOCAL_REFER }}", "true");

            return param;
        }

        function submitData(onLoadCallback) {
            let url;
            if (regId === "arChannel" || regId === "arMember") {
                url = "{% url "api.ar.add" %}";
            } else if (regId === "arToken") {
                url = "{% url "api.ar.add_token" %}"
            }

            let xhr = new XMLHttpRequest();
            xhr.open("POST", url);
            xhr.responseType = "json";
            xhr.onload = function () {
                hideAllSubmitMsg();
                try {
                    updateArCode(xhr.response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.Results.OUTCOME }}"]);
                } catch (error) {
                    onSubmissionFailed()
                }

                onLoadCallback(xhr.response);
            };
            xhr.onerror = onSubmissionFailed;
            xhr.send(collectData());
        }

        function onSubmissionFailed() {
            showSubmissionFailed(true);
            updateArCode(null);
        }

        function displayToken(response) {
            if (response.hasOwnProperty("{{ static_keys_result.RESULT }}") &&
                response["{{ static_keys_result.RESULT }}"].hasOwnProperty("{{ static_keys_result.TokenActionResponse.TOKEN }}")) {
                $("code#arTokenReturn").text(response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.TokenActionResponse.TOKEN }}"]);
            } else {
                console.log(`Token Display Failed. Token: ${response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.TokenActionResponse.TOKEN }}"]}`)
            }
        }

        function validateContent(type, content, fnOnLoad) {
            let url = `{% url "api.ar.validate" %}?{{ static_keys_param.Validation.CONTENT }}=${encodeURIComponent(content)}&{{ static_keys_param.Validation.CONTENT_TYPE }}=${type}`;

            let xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.responseType = "json";
            xhr.onload = function () {
                let success = xhr.response.{{ static_keys_result.SUCCESS }} || false;
                let result = xhr.response.{{ static_keys_result.RESULT }} || false;

                fnOnLoad(success, result);
            };
            xhr.send();
        }

        function getTagsByPopularity(onFound, onNotFound) {
            searchTagsByPopularity("", onFound, onNotFound, function () {
            });
        }

        function searchTagsByPopularity(word, onFound, onNotFound, onResult) {
            let url = `{% url "api.ar.tag.pop" %}?{{ static_keys_param.DataQuery.KEYWORD }}=${encodeURIComponent(word)}`;

            let xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.responseType = "json";
            xhr.onload = function () {
                let resp = xhr.response["{{ static_keys_result.RESULT }}"];

                onResult();
                if (resp.length > 0) {
                    onFound(resp);
                } else {
                    onNotFound();
                }
            };
            xhr.send();
        }
    </script>
    <script src="{% static "js/ar/add.js" %}" type="text/javascript"></script>
    <script src="{% static "js/ar/artag.js" %}" type="text/javascript"></script>
{% endblock %}