{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="display-4 text-center">{% trans "Channel Profile Info" %}</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col mb-3">
                <span class="h4">{% trans "Basic Information" %}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card border-dark text-center">
                    <div class="card-header text-dark">{% trans "Channel ID" %}</div>
                    <div class="card-body">
                        <div class="card-text h4">
                            <code><a href="{% url "info.channel" channel_oid=profile_data.channel_oid %}">
                                {{ profile_data.channel_oid }}
                            </a></code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card border-dark text-center">
                    <div class="card-header text-dark">{% trans "Profile ID" %}</div>
                    <div class="card-body">
                        <div class="card-text h4">
                            <code>{{ profile_data.id }}</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card border-dark text-center">
                    <div class="card-header text-dark">{% trans "Name" %}</div>
                    <div class="card-body">
                        <div class="card-text h4 font-weight-normal">
                            <span class="dot" style="background-color: {{ profile_data.color.color_hex }}"></span>
                            {{ profile_data.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-dark text-center">
                    <div class="card-header text-dark">{% trans "Permission Level" %}</div>
                    <div class="card-body">
                        <div class="card-text h4">
                            <span class="text-success">{{ profile_data.permission_level.code }}&nbsp;({{ profile_data.permission_level.key }})</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card border-dark text-center">
                    <div class="card-header text-dark">{% trans "Promotion Required" %}</div>
                    <div class="card-body">
                        <div class="card-text h4">
                            {% if profile_data.promo_vote > 0 %}
                                <span class="text-danger">{% trans "Yes" %}</span>
                            {% else %}
                                <span class="text-success">{% trans "No" %}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if not is_default %}
                    <form class="profile-delete" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ entry.root_oid }}" name="uid">
                        <input type="hidden" value="delete" name="action">
                        <button class="btn btn-outline-danger" type="submit">
                            {% trans "Delete" %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col mb-3">
                <span class="h4">{% trans "Permissions" %}</span>
            </div>
        </div>
        <div class="row mb-3">
            {% for perm_cat in perm_cats %}
                <div class="col-lg-4 col-6 list-group-item list-group-item-action mb-0">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ perm_cat.key }}</h5>
                        {% if profile_data.permission|get_val:perm_cat.code_str %}
                            <span class="dot bg-success"></span>
                        {% else %}
                            <span class="dot bg-danger"></span>
                        {% endif %}
                    </div>
                    <p class="mb-0">{{ perm_cat.description }}</p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col">
                <span class="h4">{% trans "User who also have this profile" %}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive table-freeze-header" style="max-height: 35rem">
                    <table class="table table-hover table-bordered table-bordered mb-0 datatable datatable-noorder"
                           data-nordcol="1">
                        <thead>
                        <tr>
                            <th scope="col">{% trans "Member Name" %}</th>
                            <th scope="col">{% trans "Control" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in profile_controls %}
                            <tr>
                                <td class="align-middle text-center">{{ entry.name }}</td>
                                <td class="align-middle text-center">
                                    {% if entry.removable %}
                                        <form class="profile-detach" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ entry.root_oid }}" name="uid">
                                            <input type="hidden" value="detach" name="action">
                                            <button class="btn btn-outline-danger" type="submit"
                                                    data-uname="{{ entry.name }}">
                                                {% trans "Detach" %}
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ex-style %}
    {% include "components/interactive-table-css.html" %}
{% endblock %}

{% block ex-script %}
    {% include "components/interactive-table-js.html" %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("form.profile-detach").submit(function (e) {
                let profileName = "{{ profile_data.name }}";
                let userName = $(this).find("button").data("uname");
                let confirmMsg = `{% blocktrans trimmed %}Are you sure to detach ${profileName} from ${userName}
                    ?{% endblocktrans %}`;

                if (!confirm(confirmMsg)) {
                    e.preventDefault();
                }
            });
            $("form.profile-delete").submit(function (e) {
                let confirmMsg = `{% blocktrans trimmed %}Are you sure to delete this profile?{% endblocktrans %}`;

                if (!confirm(confirmMsg)) {
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}