{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-primary text-center mb-3">
                    <h4 class="card-header text-primary">{% trans "Contact" %}</h4>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action text-primary"
                               href="http://line.me/ti/p/~RaenonX">{% trans "LINE" %}</a>
                            <a class="list-group-item list-group-item-action text-primary">{% trans "Discord" %}:
                                レノンクス 醜醜兔#8787
                            </a>
                            <a class="list-group-item list-group-item-action text-primary"
                               href="mailto:maplestory0710@gmail.com">{% trans "Email" %}</a>
                        </div>
                    </div>
                </div>
                <div class="card border-info">
                    <h4 class="card-header text-info text-center">{% trans "App-related info" %}</h4>
                    <div class="card-body text-info">
                        <small>{% trans "Current Commit: " %}</small>
                        <a href="{{ commit_url }}" target="_blank"><code>{{ commit }}</code></a>
                        {% blocktrans trimmed %}
                            on&nbsp;<code>{{ commit_branch }}</code>
                        {% endblocktrans %}
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block" target="_blank"
                                   href="http://rnnx.cc/Line">LINE</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block" target="_blank"
                                   href="http://rnnx.cc/Website">{% trans "Website" %}</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block" target="_blank"
                                   href="http://rnnx.cc/Discord">Discord</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-success text-center">
                    <h4 class="card-header text-success">{% trans "System" %}</h4>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://github.com/RaenonX/Jelly-Bot">{% trans "GitHub Repository" %}</a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.heroku.com/">{% trans "Deployed on" %}&nbsp;<b>Heroku</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.python.org/">{% trans "Language" %}:&nbsp;<b>Python</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.djangoproject.com/">{% trans "Backend Framework" %}:&nbsp;<b>Django</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://getbootstrap.com/">{% trans "Frontend framework" %}:&nbsp;<b>Bootstrap</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://jquery.com/">{% trans "Frontend framework" %}:&nbsp;<b>jQuery</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.mongodb.com/cloud/atlas">{% trans "Database" %}:&nbsp;<b>MongoDB
                                Atlas</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}