{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-primary text-center mb-3">
                    <h4 class="card-header text-primary">{% trans "Contact" %}</h4>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action text-primary"
                               href="http://line.me/ti/p/~RaenonX">{% trans "LINE" %}</a>
                            <a class="list-group-item list-group-item-action text-primary">{% trans "Discord" %}:
                                レノンクス#5487
                            </a>
                            <a class="list-group-item list-group-item-action text-primary"
                               href="mailto:maplestory0710@gmail.com">{% trans "Email" %}</a>
                        </div>
                    </div>
                </div>
                <div class="card border-info">
                    <h4 class="card-header text-info text-center">{% trans "Build" %}</h4>
                    <div class="card-body text-info">
                        <h5 class="text-center">{% trans "Beta" %}</h5>
                        {% blocktrans trimmed %}
                            Usually, this build has new features, but contains more bugs than Stable.<br>
                            Some translations may be incompleted.
                        {% endblocktrans %}<br>
                        <small>{% trans "Deployed on " %}</small>
                        <code>{{ beta_deploy }}</code><br>
                        <small>{% trans "Updated on " %}</small>
                        <code>{{ beta_update_about }}</code>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block" href="http://line.me/ti/p/@894ctjli">LINE</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block"
                                   href="http://bot-stage.raenonx.cc">{% trans "Website" %}</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block"
                                   href="https://discordapp.com/api/oauth2/authorize?client_id=621537611026137118&permissions=8&scope=bot">Discord</a>
                            </div>
                        </div>
                        <hr>
                        <h5 class="text-center">{% trans "Stable" %}</h5>
                        {% blocktrans trimmed %}
                            Only features believed that will not cause problems will appear on this build.<br>
                            Bugs should be less than the Beta build, and the translations should be completed.
                        {% endblocktrans %}<br>
                        <small>{% trans "Deployed on " %}</small>
                        <code>{{ stable_deploy }}</code><br>
                        <small>{% trans "Updated on " %}</small>
                        <code>{{ stable_update_about }}</code>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block" href="http://line.me/ti/p/@401dacmq">LINE</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block"
                                   href="http://bot.raenonx.cc">{% trans "Website" %}</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-outline-info btn-block"
                                   href="https://discordapp.com/api/oauth2/authorize?client_id=621539717841944587&permissions=8&scope=bot">Discord</a>
                            </div>
                        </div>
                        <hr>
                        <small>
                            {% blocktrans trimmed %}
                                Both Beta and Stable build share the same database.<br>
                                If an operation on the Beta build caused the data corrupted, the data will be
                                temporarily removed for pending repair,
                                and it will be temporarily inaccessible. Please contact the website developer as soon as
                                possible if you think this happened.
                                The data will be added back to the database once the website developer fixed it.
                            {% endblocktrans %}
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-success text-center">
                    <h4 class="card-header text-success">{% trans "System" %}</h4>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://github.com/RaenonX/Jelly-Bot-API">{% trans "GitHub Repository" %}</a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.heroku.com/">{% trans "Deployed on" %}&nbsp;<b>Heroku</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.python.org/">{% trans "Language" %}:&nbsp;<b>Python</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.djangoproject.com/">{% trans "Backend Framework" %}:&nbsp;<b>Django</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://getbootstrap.com/">{% trans "Frontend framework" %}:&nbsp;<b>Bootstrap</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://jquery.com/">{% trans "Frontend framework" %}:&nbsp;<b>jQuery</b></a>
                            <a class="list-group-item list-group-item-action text-success" target="_blank"
                               href="https://www.mongodb.com/cloud/atlas">{% trans "Database" %}:&nbsp;<b>MongoDB
                                Atlas</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}