{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load sanitizer %}

{% block content %}
    <div class="container">
        {% autoescape off %}
            {{ content|strip_html }}
        {% endautoescape %}
        <hr>
        {% trans "These will be deleted from the database after: " %}{{ expiry|date:'Y-m-d h:i:s A (e)' }}.
    </div>
{% endblock %}

{% block ex-script %}
    <!--suppress JSUnresolvedLibraryURL -->
    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
    </script>
{% endblock %}

{% block ex-style %}
    <link rel="stylesheet" href="{% static "css/utils/ar-html-content.css" %}">
{% endblock %}