{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">{% trans "Jelly Bot" %}</h1>
            <p>
                {% blocktrans trimmed %}
                    An auto-reply based bot with extended features.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{% trans "Auto Reply" %}</h2>
                <p>{% trans "Make your own Auto-Reply module to entertain yourself and your friends." %}</p>
                <p>
                    <a class="btn btn-primary" href="{% url "page.ar.add" %}">{% trans "Add One" %} &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>{% trans "Bot" %}</h2>
                <p>
                    {% trans "Supported on LINE and Discord. Add them to your group to access the true power of Jelly Bot." %}
                </p>
                <p>
                    <a class="btn btn-info mb-1" href="{% url "page.doc.botcmd.main" %}">{% trans "Command Manual" %}</a>
                </p>
                <p>
                    <a class="btn btn-success mb-1" href="http://rnnx.cc/Line" target="_blank">LINE&nbsp;&raquo;</a>
                    <a class="btn btn-success mb-1" href="http://rnnx.cc/Discord" target="_blank">Discord&nbsp;&raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>{% trans "(Preserve)" %}</h2>
                <p>{% trans "(Preserve)" %}</p>
                <p><a class="btn btn-secondary" href="#" role="button">{% trans "More Details" %} &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}