/*noinspection CssUnusedSymbol*/
.nav-item, .nav-link {
    text-align: center;
    border-radius: 0.8rem;
}

/*noinspection CssUnusedSymbol*/
.nav-item:hover, .nav-link:hover {
    background-color: #4d4d4d;
}