{% load i18n %}

<div class="table-responsive">
    <table class="table table-hover table-striped table-light table-bordered">
        <thead>
        <tr>
            <th scope="col">{% trans "Code" %}</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "Short Description" %}</th>
            <th scope="col">{% trans "Long Description" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for flag in flags %}
            <tr>
                <th scope="row" class="text-center">
                    <a id="{{ flag.code }}"></a>
                    <a href="#{{ flag.code }}" class="text-dark">{{ flag.code }}</a>
                </th>
                <td>
                    <small>
                        <a id="{{ flag.name }}"></a>
                        <a href="#{{ flag.name }}" class="alert-link text-dark">{{ flag.name }}</a>
                    </small>
                </td>
                <td>{{ flag.key }}</td>
                <td><small>{{ flag.description }}</small></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>