{% load i18n %}

<div class="table-responsive">
    <table class="table table-hover table-striped table-light table-bordered">
        <thead>
        <tr>
            <th scope="col">{% trans "Code" %}</th>
            <th scope="col">{% trans "Name" context "Flag Name" %}</th>
            {% if has_key %}
                <th scope="col">{% trans "Short Description" %}</th>
            {% endif %}
            {% if has_description %}
                <th scope="col">{% trans "Long Description" %}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for flag in flags %}
            <tr>
                <th scope="row" class="text-center">
                    <a id="{{ flag.code }}" class="anchor"></a>
                    <a href="#{{ flag.code }}" class="text-dark">{{ flag.code }}</a>
                </th>
                <td>
                    <small>
                        <a id="{{ flag.name }}" class="anchor"></a>
                        <a href="#{{ flag.name }}" class="alert-link text-dark">{{ flag.name }}</a>
                    </small>
                </td>
                {% if has_key %}
                    <td>{{ flag.key }}</td>
                {% endif %}
                {% if has_description %}
                    <td>
                        <small>{{ flag.description }}</small>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>