<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        $("table.datatable").each(function () {
            const config = {
                paging: false
            };

            if ($(this).hasClass("datatable-presort")) {
                config["order"] = [[parseInt($(this).data("sortidx")), $(this).data("sortorder")]]
            }

            config["columnDefs"] = [
                {
                    "targets": "htmlnumfmt",
                    "type": "html-num-fmt",
                },
                {
                    "targets": "nosort",
                    "orderable": false
                }
            ];

            $(this).DataTable(config);
        })
    });
</script>
