{% load i18n %}

<div class="card-text text-center">
    {% for tkact in tkact_list %}
        {% with token=tkact.token.value action=tkact.action.value.code %}
            <div class="mb-3">
                <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                        data-target="#{{ token }}" aria-expanded="false"
                        aria-controls="{{ token }}">
                <!-- FIXME: Cannot display creation/expiry date -->
                <!-- FIXME: Collapse not working -->
                <!-- FIXME: IMPORTANT: Starts from here -->
                    {% blocktrans %}
                        Created on {{ tkact.timestamp.value|date:"m-d h:i A" }}
                    {% endblocktrans %}
                </button>
                <div class="collapse" id="{{ token }}">
                    <div class="card-text text-center" style="margin-top: 1rem;">
                        <p>{% trans "Token: " %}<code>{{ token }}</code></p>
                        <br>
                        <p>{% trans "Action Code: " %}
                            <a href="{% url "page.doc.code.api" %}#{{ action }}"><code>{{ action }}</code></a>
                        </p>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>