{% load i18n %}

<!--suppress JSDuplicatedDeclaration, JSUnusedGlobalSymbols -->
<script type="text/javascript">
    $(document).ready(() => {
        initEvents();
        initElems();
    });

    function initEvents() {
        $("button#shorten").click(shortenClicked);
        $("button#copy").click(copyClicked);
        notImplemented();
    }

    function initElems() {
        $('[data-toggle="tooltip"]').tooltip().tooltip('disable');
    }

    function shortenClicked() {
        const invalidMessage = validateUrl();
        if (invalidMessage) {
            generateAlert("danger", invalidMessage);
        } else {
            sendShortenAjax();
        }
    }

    function copyClicked() {
        const input = $("input#shortenedUrl");
        const btnDiv = $("div#copyDiv");
        input.focus();
        input.select();

        try {
            const ok = document.execCommand('copy');
            if (ok) {
                btnDiv.attr("data-original-title", "{% trans "URL copied to the clipboard" %}");
            } else {
                btnDiv.attr("data-original-title", "{% trans "Failed to copy the URL to the clipboard" %}");
            }
        } catch (err) {
            btnDiv.attr("data-original-title", "{% trans "Error occurred when copying the URL to the clipboard" %}");
        }

        btnDiv.tooltip('enable').tooltip('show').tooltip('disable');
    }

    function validateUrl() {
        const url = $("input#shortenUrl").val();

        if (!(url.startsWith("http://") || url.startsWith("https://"))) {
            return "{% trans "URL to be shortened must starts with either http:// or https://." %}";
        }

        return "";
    }

    function sendShortenAjax() {
        $.ajax({
            data: {
                "{{ static_keys_param.Service.ShortUrl.TARGET }}": $("input#shortenUrl").val(),
                "{{ static_keys_param.Service.ShortUrl.USER_OID }}": "{{ root_oid }}",
                "{{ static_keys_param.LOCAL_REFER }}": true
            },
            type: "POST",
            url: "{% url "api.service.shorturl.short" %}",
            success(response) {
                console.log(response);

                if ("{{ static_keys_result.SUCCESS }}" in response) {
                    if (response["{{ static_keys_result.SUCCESS }}"]) {
                        generateAlert("info", "{% trans "URL Shortened. Refresh the page to see the record in the list." %}");
                        updateResultSection(response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.Service.ShortUrl.SHORTENED_URL }}"]);
                    } else {
                        const outcome = response["{{ static_keys_result.RESULT }}"]["{{ static_keys_result.Results.OUTCOME }}"];
                        generateAlert("danger", `{% trans "URL Failed to be shortened. Outcome code: " %}${outcome}`);
                        updateResultSection();
                    }
                } else {
                    generateAlert("danger", "{% trans "Invalid response body." %}");
                    updateResultSection();
                }
            },
            error(xhr) {
                generateAlert("warning", `Error: ${xhr.status} - ${xhr.statusText}`);
                updateResultSection();
            }
        })
    }

    function updateResultSection(url = null) {
        if (url) {
            $("div#result").removeClass("d-none");
            $("input#shortenedUrl").val(url);
        } else {
            $("div#result").addClass("d-none");
        }
    }

    function notImplemented() {
        // Clear up modal for displaying not implemented message (Keyword to search "NotImplementedModal")
        const notImplElem = $("div#modalNotImplemented");

        $("button.action-delete").click(() => notImplElem.modal("show"));
        $("button.action-update").click(() => notImplElem.modal("show"));
    }

    function getUpdateTargetEndpointUrl(target, code) {
        return `{% url "api.service.shorturl.update" %}?{{ static_keys_param.Service.ShortUrl.CODE }}=${code}&{{ static_keys_param.Service.ShortUrl.TARGET }}=${target}&{{ static_keys_param.Service.ShortUrl.USER_OID }}=${{ root_oid }}&{{ static_keys_param.LOCAL_REFER }}=true`;
    }
</script>