div.table-freeze-header {
    overflow-y: auto;
}

div.table-freeze-header thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

div.table-freeze-header th {
    background-color: #eeeeee;
}

@media (min-width: 1200px) {
    div.table-freeze-first-col thead th:first-child {
        left: 0;
        z-index: 1;
    }

    div.table-freeze-first-col tbody th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        left: 0;
        border-right: 1px solid #CCC;
    }
}